.tags {
  .tags_main {
    display: flex;
    flex-wrap: wrap;

    span {
      padding: 5px 10px;
      font-size: 15px;
      font-weight: bold;
      //   background-color: white;
      margin: 5px 5px;
      cursor: pointer;
      border: 1px solid #2155cd;
      border-radius: 4px;
      color: #284894;
      transition: all 0.3s ease;
    }

    span:hover {
      background-color: #2155cd;
      color: white;
    }
  }
}
