.property_item {
  cursor: pointer;
  .property_item_img {
    width: 100%;
    object-fit: cover;
  }

  .property_item_txt {
    margin-top: -10px;
    h3 {
      font-weight: 700;
      font-size: 21px;
    }

    h4 {
      margin-top: -15px;
      color: rgb(121, 119, 119);
    }
  }
}

@media screen and (max-width: 576px) {
  .property_item {
    .property_item_txt {
      margin-top: -15px;
    }
  }
}
